
.kodik_close_button{
    display: flex;
    position: absolute;
    right: 70px;
    top: 15px;
    z-index: 50;
    fill: #D1D1D1;
    transition: .3s;
    opacity: 1;
}

.kodik_close_button.close{
    opacity: 0;
}

.kodik_close_button:hover{
    fill: white;
}