
.kodik_button{
    display: flex;
    position: absolute;
    z-index: 50;
    fill: #D1D1D1;
    transition: .3s;
    opacity: 1;
}

.kodik_button.noActive{
    opacity: 0;
}

.kodik_button.skip{
    right: 90px;
    top: 15px;
}

.kodik_button.close{
    right: 60px;
    top: 15px;
}

.kodik_button:hover{
    fill: white;
}