

.catalog_item {
    min-width: 306px;
    min-height: 172px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    background-size: cover;
    transition: .5s;
    cursor: pointer;
}

/* .catalog_item:hover {
    scale: 1.085;
    z-index: 15;
    -webkit-box-shadow: 0 0 20px 0 #000000;
    box-shadow: 0 0 20px 0 #000000;
} */

.catalog_item_name {
    font-family: "Manrope", sans-serif;
    user-select: none;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    transition: .3s;
    opacity: calc((var(--hover) - 1) * -1);
}


.catalog_item_container_metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 5px 10px;
    align-items: center;
}

.catalog_item_description {
    display: flex;
    font-family: "Manrope", sans-serif;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 20px;
    font-size: 12px;
    opacity: var(--hover);
    transition: .4s;
    margin-bottom: 0;
    color: #D1D1D1;
    overflow: hidden;
}

.catalog_item_description.none{
    color: #ffffff;
}

.hovered {
    --hover: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    transition: .3s;
}

.hovered:hover {
    background: rgba(0, 0, 0, 0.7);
    --hover: 1;
}


@media screen and (max-width:550px) {

    .hovered {
        align-items: start;
        justify-content: start;
    }

    .catalog_item {
        min-width: 196px;
        height: 282px;
    }

    .catalog_item_container_metadata{
        padding: 0 10px 15px 10px;
        max-width: 150px;
    }

    .catalog_item_name{
        font-size: 12px;
        font-weight: 300;
    }

    .catalog_item_description{
        display: none;
    }
    
}

@media screen and (max-width:550px) {

    .catalog_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hovered:hover {
        display: none;
        background: rgba(0, 0, 0, 0);
    }

    .hovered{

        flex-direction: row;
        align-items: end;
        justify-content: start;
    }
}