
.search_element_mob_root {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search_element_mob {
    display: flex;
    height: 68px;
    width: 100%;
    transition: .3s;
    user-select: none;
    cursor: pointer;
}

.search_element_mob_root:hover{
    background: rgba(0, 0, 0, 10%);
}

.search_element_mob_root:active{
    background: rgba(51, 51, 51, 0.1);
}

.search_element_mob:hover {
    background: rgba(0, 0, 0, 10%);
}

.search_element_mob:active{
    background: rgba(51, 51, 51, 0.1);
}

.search_poster_mob {
    width: 48px;
    height: 72px;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.search_body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search_result_button_mob {

    font-size: 14px;
    font-weight: normal;
    background: var(--accent-color);
    border: none;
    border-radius: 2px;
    transition: .3s;

    padding: 5px 12px;
}

.search_result_button_mob:hover{
    background: rgba(0, 0, 0, 0.13) var(--accent-color);
}

.search_result_button_mob:active{
    background: rgba(0, 0, 0, 0.38) var(--accent-color);
}

.search_title_mob {
    font-size: 18px;
    font-weight: normal;
}

.search_rank {
    display: flex;
    color: #41d009;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
}

.search_date {
    font-size: 13px;
    font-weight: lighter;
}

.search_info_mob {
    display: flex;
    flex-direction: column;

    margin-left: 5px;
}

.search_status{
    font-family: "Rubik", sans-serif;
    font-size: 9px;
    font-weight: 400;
    margin-right: 5px;
    width: fit-content;
    border-radius: 3px;
    padding: 2px 4px;
}

.search_status.released{
    background: #63c844;
}

.search_status.ongoing{
    background: #9f50d3;
}