

/*PC*/
.header {
    z-index: 100;
    width: 100%;

    padding: 25px 65px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    top: 0;
    position: absolute;
}

.header.search_show {
    padding: 2px 65px;
}

.header__part {
    display: flex;
    align-items: center;
}

.header__part.search_show {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 23px;
}

.link {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: var(--link_un_active);

    margin-left: 15px;
    margin-right: 15px;
    padding: 5px 0;

    user-select: none;
    cursor: pointer;

    transition: .3s;
    fill: var(--link_un_active);
}

.link.logo.subscription{
    background-image: linear-gradient(167deg, rgba(42, 111, 237, 1) 5%, rgba(155, 97, 186, 0.7484243697478992) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: border;
    background-clip: text;
    color: transparent;
    animation: sub 1s ease-in-out forwards;
}

@keyframes sub {
    100% {transform: translateX(-20px)}
}


.search_container {
    display: flex;
    width: 0;
    height: 0;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search_container.active {
    opacity: 1;
    width: auto;
    height: auto;
    margin-top: -20px;
}

.search_input {
    font-family: "Manrope", sans-serif;
    width: 0;
    height: 38px;
    transition: 0s;
    opacity: 0;
    border-radius: 5px;
    background: white;
    border: none;
    color: black;
    padding: 10px;
    margin-top: 19px;
}

.search_input.active {
    width: 500px;
    opacity: 1;
    transition: .5s;
}

.search_result {
    font-family: "Manrope", sans-serif;
    background: white;
    width: 500px;
    max-height: 600px;
    overflow: scroll;
    border-radius: 6px;
    color: black;
    margin-top: 5px;
    z-index: 10;
}

.link:hover {
    color: var(--link_active);
    fill: var(--link_active);
}

.link:active{
    display: flex;
    transform: translateY(2px);
    color: var(--link_active);
    fill: var(--link_active);
}

.link.selected {
    border-bottom: 2px solid #fa5401;
    color: var(--link_active);
    fill: var(--link_active);
}

.logo {
    color: var(--link_active);
    font-weight: bolder;
    font-size: 20px;
}

.header__icon {
    display: flex;
    fill: var(--link_un_active);
    transition: .3s;

    cursor: pointer;
}

.header__icon:hover {
    fill: var(--link_active);
}

.header__icon.search_show {
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 6px;
}

.link_icon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.link_icon.search_show {
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 8px;
}

/*Mobile*/

.header_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #202020;
    position: fixed;
    bottom: -1px;
    z-index: 3;
}

.link.hidden {
    display: none;
}

.link.activated {
    border-bottom: 2px solid #f8702c;
    color: var(--link_active);
    fill: var(--link_active);
    animation: activated_link infinite 2s;
}

@keyframes activated_link {
    0% {border-bottom: 2px solid #f8702c;}
    25% {border-bottom: 2px solid #f8b72c;}
    50% {border-bottom: 2px solid #fffc00;}
    85% {border-bottom: 2px solid #f8b72c;}
    100% {border-bottom: 2px solid #f8702c;}
}

/* мобильные устройства */
@media (hover: none) and (pointer: coarse) {
    .header {
        display: none;
    }

    .header_mobile {
        display: flex;
    }
}

/* десктопы и ноутбуки, в которых основным механизмом ввода является мышь или тачпад */
@media (hover: hover) and (pointer: fine) {
    .header {
        display: flex;
    }

    .header_mobile {
        display: none;
    }
}
