@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.anime_main_div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.anime_background_image {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 60vh;
}

.anime_body {
    width: 100%;
    justify-content: center;
    z-index: 2;
    padding: 280px 150px 0 150px;
}

.anime_left_body {
    width: fit-content;
}

.anime_body_poster {
    width: 302px;
    height: 453px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.anime_central_body {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;
    max-width: 50%;
}

.anime_central_body_title {
    display: flex;
    font-size: 40px;
    font-weight: 700;
}

.anime_central_body_genres{
    display: flex;
    align-items: center;
    color: #D1D1D1;
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    max-width: 100%;
    overflow: hidden;
}

.anime_central_body_genres_text{
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    text-overflow: ellipsis; /* Добавляет многоточие в конце */
    display: block;
    overflow: hidden;
}

.anime_central_body_description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

.anime_central_body_description.none{
    color: #3e3e3e;
}

.catalog_info_watch_button {
    margin-top: 20px;
    user-select: none;
    z-index: 2;
}

.anime_right_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    width: fit-content;
}

.search_rank.anime {
    text-align: center;
    color: #41d009;
    font-size: 32px;
    font-weight: bold;
}

.anime_episode_count{
    margin-top: 5px;
    font-size: 14px;
}

.anime_status {
    display: flex;
    stroke: white;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.add_rating{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    border-radius: 15px;
    background: #3e3e3e;
    margin-top: 10px;
    user-select: none;
    transition: .3s;
    cursor: pointer;
}

.add_rating:hover{
    background: #2a2a2a;
}

/* мобильные устройства */
@media (hover: none) and (pointer: coarse) {
    .anime_body {
        display: none;
    }
    .anime_body_mob {
        display: flex;
    }
}

/* десктопы и ноутбуки, в которых основным механизмом ввода является мышь или тачпад */
@media (hover: hover) and (pointer: fine) {
    .anime_body {
        display: flex;
    }
    .anime_body_mob {
        display: none;
    }
}

.anime_body_mob {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 2;

    padding: 100px 0;
}

.anime_left_body_mob {
    width: 100%;

    display: flex;
    justify-content: center;
}

.anime_body_poster_mob {
    width: 100%;
    max-width: 370px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.anime_central_body_mob {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 370px;
    margin-top: 30px;
}

.anime_central_body_title_mob {
    display: flex;
    font-size: 24px;
    font-weight: 700;
}

.anime_central_body_genres_mob {
    display: flex;
    align-items: center;
    color: #D1D1D1;
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
    max-width: 100%;
    overflow: hidden;
}

.anime_central_body_description_mob {
    margin-top: 25px;
    font-size: 14px;
    font-weight: normal;
    color: #e7e7e7;
}

.catalog_info_watch_button_container_mob {

    display: flex;
}

.anime_right_body_mob {
    width: 100%;
    max-width: 370px;
    margin-top: 25px;

    display: flex;
    justify-content: space-around;
}